.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}



.ag-theme-material .ag-header-cell {
  background-color: #f0f0f0; 
  font-weight: bold; 
}

.ag-theme-material .ag-header-cell-text {
  color: #333; 
}

.ag-theme-material .ag-cell {
  border-bottom: 1px solid #ddd; 
}

.ag-theme-material .ag-cell-text {
  color: #555; 
}

